/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #e380ff #5c5c5c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #5c5c5c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e380ff;
    border-radius: 10px;
    border: 3px solid #52f3ff;
  }

  .top-margin {
    margin-top: 100px;
  }